/*reset*/
* {margin: 0; padding: 0; color: #fff; box-sizing: border-box;}
.clearfix::before, clearfix::after {display: block; content: ''; clear: both;}
li {list-style: none;}
a {text-decoration: none; color: #333;}

/*layout*/
#wrap {width: 100%; height: 100%;}
#header {width: 100%; height: 50px; background: #888;}
#aside {width: 15%; height: 1400px; background: #777; float: left;}

#container {width: 85%; height: auto; background: #666; float: left; padding: 2em;}
#banner {width: 100%; height: auto; background: #555; padding-bottom: 2em;}
#content01 {width: 100%; height: auto; background: #444; padding: 2em 0;}
#content02 {width: 100%; height: auto; background: #fff; padding: 2em 0;}
#content03 {width: 100%; height: auto; background: #fff; padding: 1em 0;}

#footer {width: 100%; height: auto; }
#foot_menu {width: 100%; height: 400px; background: #888; float: left;}
#foot_address {width: 100%; height: 300px; background: #999; float: left;}

/*header*/

/*aside*/
#aside {padding: 10px 16px; background: #000;}
.side_logo {display: flex; align-items: center; justify-content: center; padding: 20px;}
.side_logo img {display: block; width: 100%;}

.sidemenu {margin-top: 2em; padding: 20px 0; } 
        /*display: flex; justify-content: space-between;*/
.sidemenu ul.mainmenu {}
.sidemenu ul.mainmenu li {width: 100%;}
.sidemenu ul.mainmenu li a {display: block; padding: 5px; width: 100%; color: #fff; font-size: 24px; font-weight: bold;}
.sidemenu ul.mainmenu li a:hover {background: rgba(255,255,255,0.3);}

/*container*/
#container h2 {padding: 10px 0; font-size: 32px; }
#banner video {width: 100%;}


/*content1*/
#content01 {overflow: hidden;}
#content01 > div > div {display: inline-block;}

.chart {overflow: hidden;}
.swiper_cont {margin-right: 2em;}
.swiper_slide {}

.poster {margin-bottom: 10px;}
.poster img {width: 100%;}
.info {margin-bottom: 1em;}

.info_cont {display: inline-block;}
.info_cont p {display: inline-block; width: 100px; padding: 5px 10px; text-align: center; font-weight: bold;}
.info_cont p:first-child {width: 90px; background: #333; margin-right: 10px;}
.info_cont p:last-child {width: 110px; background: #fff; color: #111;}

.info h3 {padding: 10px 0; width: 250px; font-size: 16px;}
.info h3 a {color: #fff;}
.info span {color: #999;}

/*content2*/
#content02 {}
#content02 h2 {color: #000;}
.notice {width: auto; height: 60px; margin: 10px 0; border: 1px solid #dbdbdb; padding: 5px; box-sizing: border-box; overflow: hidden;}
.notice img {width: 50px; height: 50px; display: none;}
.notice ul li { padding: 5px;}
.notice ul li a {color: #000; font-size: 28px;}
.notice ul li span {float: right; font-size: 16px; padding: 7px 0 0; color: #333;}

/*content3*/
#content03 h2 {color: #000;}
#content03 h4 {padding: 10px 0; font-size: 20px; font-weight: 300; color: #000;}

.knowledge_container {width: 100%; height: 400px;}
.knowledge_img {width: 44%; height: 100%; background: #222; float: left; display: flex; align-content: center; justify-content: center; padding: 20px 10px;}
.knowledge_img img {display: block; width: 100%;}

.knowledge_list {width: 54%; height: 100%; float: left; margin-left: 2%;}
.knowledge_list ul li {font-size: 30px; font-weight: 600; color: #000;}
.knowledge_list ul li span {float: right;}
.knowledge_list ul p {padding: 10px 0; font-size: 20px; font-weight: 600; color: #333;}

/*footer*/