/*reset*/
* {margin: 0; padding: 0; color: #fff; box-sizing: border-box;}
.clearfix::before, clearfix::after {display: block; content: ''; clear: both;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
button {color: #333; background: none; border: none;}
body {font-family: 'Nanum Gothic'}


/*layout*/
#wrap {width: 100%; height: 100%;}
#header {width: 100%; height: 50px; background: #000; border-bottom: 0.5px solid #333;}

#upPage {width: 100%; height: auto; background: #000; float: left;}
#aside {width: 15%; float: left;}
#container {width: 85%; height: auto; float: right; overflow: hidden;}
#container01 {padding: 2em 2em 0; background: #000; width: 85%;  float: left;}
#container02 {padding: 0 2em 2em; background: #fff;}

#banner {width: 100%; padding-bottom: 2em;}
#content01 { padding: 2em 0; border-bottom: 1px solid #dbdbdb; box-sizing: border-box;} 
#content02 {width: 100%; height: auto; background: #fff; padding: 2em 0; border-bottom: 1px solid #dbdbdb; box-sizing: border-box;}
#content03 {width: 100%; height: auto; background: #fff; padding: 2em 0;}

/*header*/
.left_header {width: 60%; height: 100%; float: left;}
.left_header > div {
    display: flex;
    align-items: center;
}

.left_left_head {
    width: 20%; height: 100%;
    float: left;
    justify-content: center;
}
.seoul { 
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    background-image: url(https://sema.seoul.go.kr/resources/assets/svg/seoul-logo-white.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.left_right_head {
    width: 60%; height: 100%; 
    float: right;
}
.left_right_head ul li {float: left;}
.left_right_head ul li a {display: block; color: #888; padding: 0 1em; font-size: .8em;}
.left_right_head ul li a:hover {color: #dbdbdb;}

/*right_header*/
.right_header {
    width: 30%; height: 100%; 
    float: right;
    display: flex;
    align-items: center;
    color: #fff;
}
.right_header button {font-size: 1.1em; font-weight: bold; padding: 5px 10px; color: #fff;}
.right_header .seaechbar {width: 60%; height: 60%; color: #dbdbdb; padding: 0 .5em; margin-left: 3%;}

/*aside*/
#aside {background: #000;}
.side_logo {display: flex; align-items: center; justify-content: center; padding: 20px; margin-top: 2em;}
.side_logo img {display: block; width: 100%;}

.sidemenu {margin-top: 2em; margin-left: 1em; padding: 20px 0; } 
        /*display: flex; justify-content: space-between;*/
.sidemenu ul.mainmenu {}
.sidemenu ul.mainmenu li {width: 100%;}
.sidemenu ul.mainmenu li a {display: block; padding: 10px; width: 100%; color: #fff; font-size: 24px; font-weight: bold;}
.sidemenu ul.mainmenu li a:hover {background: rgba(255,255,255,0.3);}

/*container*/
#container h2 {padding: 10px 0; font-size: 32px; }
#banner video {width: 100%;}

/*content1*/
.content01_wrap {}  /*position: relative;*/
.cont_title {padding: 10px 0;}
.chart {} /* width: 1600px;*/
.chart > div { width: 100%;}
.chart > div > div {}
.chart > div > div > div {margin-right: 2em;}

.poster {position: relative; margin-bottom: 10px;}
.poster img {display: block;} /* width: 100%;*/

.info {margin-bottom: 1em;}
.info_cont {display: inline-block;}
.info_cont p {display: inline-block; width: 100px; padding: 5px 10px; text-align: center; font-weight: bold;}
.info_cont p:first-child {width: 90px; background: #333; margin-right: 10px;}
.info_cont p:last-child {width: 110px; background: #fff; color: #111;}

.info h3 {padding: 10px 0; width: 250px; font-size: 16px;}
.info h3 a {color: #fff; display: block;}
.info span {color: #999;}

/*content2*/
#content02 {}
#content02 h2 {color: #000;}
.notice {width: auto; height: 60px; margin: 10px 0; border: 1px solid #dbdbdb; padding: 5px; box-sizing: border-box; overflow: hidden;}
.notice > span {width: 60px; height: 50px; float: left; display: flex; align-items: center; justify-content: center;}
.notice > span > img {width: 30px; height: 30px; }
.notice ul {margin-left: 50px; position: relative; }
.notice ul li {height: 50px; padding-left: 20px;}
.notice ul li a {color: #000; font-size: 28px; line-height: 50px;}
.notice ul li span {float: right; font-size: 16px;  color: #333; margin-top: 15px; margin-right: 10px;}
                                            /*display: flex; align-items: center; */
/*content3*/
#content03 h2 {color: #000;}
#content03 h4 {padding: 10px 0; font-size: 20px; font-weight: 300; color: #000;}

.knowledge_container {width: 100%; height: 400px;}
.knowledge_img {width: 44%; height: 100%; background: #222; 
    float: left; display: flex; align-content: center; justify-content: center; position: relative;
}
.knowledge_img img {display: block; position: absolute; height: 100%;}

.knowledge_list {width: 54%; height: 100%; float: left; margin-left: 2%; display: flex; align-items: center;}
.knowledge_list ul li {font-size: 30px; font-weight: 600; color: #000;}
.knowledge_list ul li span {float: right;}
.knowledge_list ul p {padding: 10px 0; font-size: 20px; font-weight: 300; color: #333;}

/*footer*/
#footer {width: 100%; height: auto; }
#foot_menu {width: 100%; float: left; padding: 5em 0; border-top: 1px solid #dbdbdb; box-sizing: border-box;}
#foot_address {width: 100%;  float: left; padding: 3em 0 2em; border-top: 1px solid #dbdbdb; box-sizing: border-box;}

.foot_main_menu {}
.foot_main_menu > li {float: left; width: 12%; margin: 0 1%;}
.foot_main_menu > li:first-child {margin-left: 2%;}
.foot_main_menu > li:last-child {margin-right: 2%;}
.foot_main_menu > li a {display: block; color: #111; font-size: 26px; font-weight: bold; text-align: center; padding: 10px 0;}

.foot_main_menu li ul.foot_sub_menu {}
.foot_main_menu li ul.foot_sub_menu li {width: 100%;}
.foot_main_menu li ul.foot_sub_menu li a {display: block; color: #333; font-size: 18px; font-weight: 400; text-align: center; padding: 8px 0; word-break: keep-all;}

.foot_left {float: left; width: 50%;}
.foot_right {float: right; width: 35%;}

/*Foot Left*/
.foot_sns {float: left; height: auto; margin-left: 2em;}
.foot_sns ul {height: 30px;}
.foot_sns ul li {float: left; width: 15%; height: 30px; margin-right: 2%;}
.foot_sns ul li:last-child {margin-right: 0;}
.foot_sns ul li a {display: block;}
.foot_sns ul li img {display: block; width: 100%;}
.foot_sns .foot_desc address {width: 100%; font-style: normal; font-weight: 600; color: #333; margin-top: 1em; display: block;}

.foot1 {float: left; width: 40%; height: auto;  margin-left: 6em;}
.foot1 ul li {}
.foot1 ul li a {display: block; font-weight: bold; padding: 6px 0;}

/*Foot Right*/
.foot2 {float: left; width: 30%; }
/*margin-right: 6em;*/
.foot2 ul li a {display: block; font-weight: bold; padding: 6px 0;}

.foot_logo {float: right; width: 50%; margin-right: 2em;}
.foot_logo img {display: block; width: 100%;}

/*media*/
@media (max-width: 1540px){
    .right_header button {font-size: 1em;}
    
    .sidemenu ul.mainmenu li a {font-size: 22px;}
    
    .foot_main_menu > li a {font-size: 22px;}
    .foot_main_menu li ul.foot_sub_menu li a {font-size: 16px;}
}
@media (max-width: 1370px){
    .right_header button {font-size: .9em;}
    
    .sidemenu ul.mainmenu li a {font-size: 20px;}
    #container h2.cont_title {font-size: 24px;}
    .notice {height: 50px;}
    .notice > span {width: 50px; height: 40px;}
    .notice > span > img {width: 25px; height: 25px; }
    .notice ul li a  {font-size: 20px; line-height: 40px;}
    .notice ul li span {font-size: 14px; margin-top: 10px;}
    
    .knowledge_container {}
    .knowledge_img {width: 50%;}
    .knowledge_list {width: 46%; margin-left: 4%;}
    .knowledge_list ul li {font-size: 26px;}
    .knowledge_list ul p  {font-size: 18px;}
}

@media (max-width: 1310px){
    .right_header {width: 35%;}
    .right_header button {font-size: .9em;}
    
    .sidemenu {}
    .sidemenu ul.mainmenu li a {font-size: 18px; padding: 10px 0;}
    .info_cont {}
    .info_cont p {width: 80px; font-size: 14px;}
    .info_cont p:first-child {width: 70px; }
    .info_cont p:last-child {width: 100px;}
    .info h3 {font-size: 16px;}
    .info span {font-size: 13px;}
    
    .knowledge_container{height: 350px;}
    .knowledge_list ul li {font-size: 20px;}
    .knowledge_list ul p  {font-size: 16px;}
        
    .foot_main_menu > li a {font-size: 20px;}
    .foot_main_menu li ul.foot_sub_menu li a {font-size: 14px;}
    .foot_logo {width: 45%;}
    .foot1 ul li a {font-size: 14px;}
    .foot2 ul li a {font-size: 14px;}
    address {font-size: 14px;}
}

@media (max-width: 1160px){
    .right_header button {font-size: .7em;}
    
    #content03 h4 {font-size: 18px;}
    .knowledge_container {height: 330px;}
    .knowledge_list ul li {font-size: 20px;}
    .knowledge_list ul p  {font-size: 15px;}
    
    .foot_main_menu > li a {font-size: 18px;}
    
    .foot_sns ul, .foot_sns ul li {height: 20px;}
    .foot1 {margin-left: 3em;}
    .foot_sns ul li {width: 10%;}
    .foot1 ul li a {font-size: 12px;}
    .foot2 ul li a {font-size: 12px;}
    .foot_logo {width: 40%;}
    address {font-size: 12px;}
}
@media (max-width: 1054px){
    .knowledge_img img {width: 100%; height: auto;}
    .sidemenu ul.mainmenu li a {font-size: 16px;}
    .foot_main_menu > li a {font-size: 16px;}
}
@media (max-width: 946px){
    .sidemenu ul.mainmenu li a {font-size: 14px;}
}
